[Unit]
Description=Execute events-display service every 15 minutes during open hours

[Timer]
OnCalendar=Mon..Sat 09..18:00/15
Persistent=true

[Install]
WantedBy=timers.target