name: flask-api-postgres
services:
  app:
    build: ./app
    networks:
      - flask-app-network
    ports:
      - 5050:5000
    env_file:
      - .env
    depends_on:
      - db


  db:
    build: ./db
    networks:
      - flask-app-network
    volumes: 
      - app-db:/var/lib/postgresql
    env_file:
      - .env

networks:
  flask-app-network:

volumes:
  app-db: